<!DOCTYPE html>
<html lang="en">
<head>
    <title>DelegateIt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    {% block head %}
    {% endblock %}
</head>

<body style="padding-top: 20px">
    <div class="container">
        <noscript>
            <div class="alert alert-danger text-center">
                Please turn on javascript to view this website
            </div>
        </noscript>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
